include ./_mixins.pug
include ./_item_images.pug
doctype html
html
  head
    meta(charset='euc-jp')
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    //- meta(name='viewport', content='width=749,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    title MAX60%OFF！｜ショップジャパン楽天市場店
    // 楽天TOP解析タグ 
    script(src='//assets.adobedtm.com/fde17e0362c40547334f4e041add368f158b4119/satelliteLib-e346cd8edc0ac640d3ce7c060b5a38f5169d4add.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js')

    script(src="//www.appelsiini.net/projects/lazyload/jquery.lazyload.js?v=3")

    //- script(src='js/semantic.js' , charset='UTF-8')
    script(src='../semantic/semantic.js' , charset='UTF-8')

    //- link(rel='stylesheet', href='css/semantic.css' , charset='UTF-8')
    link(rel='stylesheet', href='../semantic/semantic.css' , charset='UTF-8')

    link(rel='stylesheet', href='css/responsiveEucjp.css')

    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/lightbox.css')

    link(rel='stylesheet', href='css/frame.css')

    link(rel='SHORTCUT ICON', href='https://www.rakuten.ne.jp/gold/shopjapan/images/favicon.ico')
    //- Required
    //- - var pageTitle= "";
    //- - var pageDescription= site.description;
    //- - var pageKeywords= site.keywords;
    //- //- Optional
    //- - var pageOgpTitle= "";
    //- - var pageOgpImage= site.ogpImage
    //- - var pageLang= "ja";
    //- - var pageOgpType= "website";
    //- //- Not modified
    //- - var pageUrl= site.relativePath;
    // #{pageTitle}
    p #{site.name}
    //- p #{site.itemImagesJson.trsp2}
    //- p #{site.itemImagesJson}

    //- span #{site.description}
    - var image1 = site.trsp2;
    - var siteAr = site;
    //- ul
    //-   each i in site.itemImages.trsp2
    //-     li: p # !{i}


    //- ul
    //-   each i in images
    //-     - var imageurl = i['画像URL']
    //-     li: p #{imageurl}
    //-     //- img(src=i['画像URL'] )
    //-     img(src=imageurl )


    script.
      var siteAR = '#{site}';
     console.log(JSON.stringify(siteAR));
    style.

    
    script(type='text/javascript').
      var pc_width = 1080;
      var sp_width = 749;
      //- var device = (window.screen.width < 749 ? 'sp' : 'pc');
      var device = (window.outerWidth < 749 ? 'sp' : 'pc');
      console.log(window.outerWidth);
      var view_mode = (device == 'pc' || document.cookie.indexOf('view_mode=pc') != -1 ? 'pc' : 'sp');




      $(document).ready(function() {
        //modal用HTMLを読み込み
        $('#target').load('modal1.html');//temp disable
      });
      //click modal 
      $('.modal-not-migration').on('click',function(){
          $('#modal-not-migration').modal('show');
      });

      $('#allform').submit(function(event) {
      // ここでsubmitをキャンセルします。
          event.preventDefault();
      });
      // # link 無効 
      $(function() {
          // クラス名からModal内IDに変換
          // $('a[href="#"].modal-cero').click(function() {
          $('a[href="#"]').click(function(e) {
              var modalId=e.target.className.split( ' ' );
              if(modalId.lastIndexOf('modal')){
                  // $('#modal-cero').modal('show');
                  $('#'+modalId[0]).modal('show');
                  return false;
              }
          })
      });

      // # link 無効
      $(function() {
        $('a[href="#"].modal-not-migration').click(function() {
              $('#modal-not-migration').modal('show');
              return false;
          })
      });


    script(type='text/javascript') _satellite.pageBottom();
  //楽天解析タグ
  body
    .ui.divided.items.container.segment#forceWidth
      img.ui.fluid.image.bgRed.spNone(src='img/kv1_1026.png')
      img.ui.fluid.image.bgRed.pcNone(src='img/sp/kvsp1_1026.jpg')

      - var itemURL = 'sim';
      img#spTitleImg1(src='img/'+ itemURL +'_title.png')
      +dlItemImage(itemURL)

      - var itemName = 'crff';
      img#spTitleImg1(src='img/'+ itemURL +'_title.png')
      // syousai ON
      +dlItemImage(itemURL,'jouhouON')

      .to_top(style='margin-bottom:170px')
        a#pageTop(href='') このページのTOPへ
    //縦バナー
    .out_back
    //縦バナー
    //縦バナー
    // <div class="left_bnr" style="display:none;">
    // <a href="https://coupon.rakuten.co.jp/getCoupon?getkey=TUpFUS1ITjdGLVNOMlMtSERORQ--&rt=" target="_blank"><img src="img/left_bnr.png?20170627"></a> 
    //縦バナー

    //縦バナーPC
    .right_bnr.spNone(style='position: fixed;right: 0; top: 105px;z-index: 999')
      a(href='#out')
        img(src='./img/left_bnr.png', width='105px', height='200px')
      p
    div.spNone(style='position: fixed;left: 0; top: 105px;z-index: 999')
      img(src='./img/right_bnr2.png', width='105px', height='264px')
      p
    //縦バナーSP
    .right_bnr_sp.pcNone
      a(href='#out')
        img(src='img/sp/right_bnr1_sp.png', style='width:25% ;    position: fixed ;    bottom: 0px;    right: 0;    z-index: 2147480000')
    
    //- //カウントダウンタイマー
      #timelimit
        .timelimit_inner
          .timer
            span.catext キャンペーン終了まで
            #sampleA.timer_1
    //- カウントダウンタイマー
      script(type='text/javascript', src='js/timer.js', charset='UTF-8')
      script(type='text/javascript', src='js/hour_limited.js')
      |  
      script(language='JavaScript', type='text/javascript').
        cdTimer1();
        function cdTimer1() {
          // 設定項目 ここから==================
          // タグ要素のID名  
          var elemID = 'sampleA';  
        
          // 期限日を設定  
          var year    =   2017;           // 年  
          var month   =   9;              // 月  
          var day     =   11;             // 日
          var hour     =   10;             // 時 
        
          // 期限終了後のメッセージ  
          var limitMessage    =   '<span class="end_camp">終了致しました。</span>';  
        
          // メッセージのスタイルクラス名（変更しない場合は空欄）  
          var msgClass = 'msg_1';  
          // 設定項目 ここまで================== 
        
          var timeLimit = new Date( year, month - 1, day , hour );  
          var timer = new CountdownTimer( elemID, timeLimit, limitMessage, msgClass );  
          timer.countDown();  
        }
    //-==================バンブー==================
      script(type='text/javascript').
        var _fout_queue = _fout_queue || {}; if (_fout_queue.segment === void 0) _fout_queue.segment = {};
        if (_fout_queue.segment.queue === void 0) _fout_queue.segment.queue = [];
        _fout_queue.segment.queue.push({
        'user_id': 15627
        });
        (function() {
        var el = document.createElement('script'); el.type = 'text/javascript'; el.async = true;
        el.src = (('https:' == document.location.protocol) ? 'https://' : 'http://') + 'js.fout.jp/segmentation.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(el, s);
        })();
    //==================バンブー==================
    //==================アウトレット==================
      script.
        $(".out").click(function () {
        $(".out_info").slideToggle("slow");
        $("#down_btn").toggleClass("none");
        });
    style.
      .none{
        display:none;
      }
    //==================アウトレット==================
    //==================YTM==================
      script(type='text/javascript').
        (function () {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0];
        tagjs.async = true;
        tagjs.src = "//s.yjtag.jp/tag.js#site=r5x5wBC";
        s.parentNode.insertBefore(tagjs, s);
        }());
      noscript
        iframe(src='//b.yjtag.jp/iframe?c=r5x5wBC', width='1', height='1', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
    //==================YTM==================
    //フッターフローティング
    #footerFloatingMenu.blurring
      //- div(style='width:950px;margin: 0 auto; border: none;display:block;')
      .ui.segment
        #footerNowPrice.ui.button.large.change_price
          | 現在の合計金額は￥
          span#priceAll 0
          | 円(税抜)
        //- #footer_go_cart.ui.button.yellow.disabled
        #footer_go_cart.ui.button.yellow
          span 選択した商品のレジにすすむ


      .ui.inverted.dimmer
        .content
          .center
            h2.ui.inverted.icon.header.red
              | しばらくお待ちください。
            .ui.text.loader

    //もったい無い
    a(name='btnBuy')
    script(type='text/javascript', src='js/rcart.js', charset='SHIFT-JIS')
    script(src='js/lightbox.js', type='text/javascript')
    script(src='js/slick.min.js')
    script.
      $(function() {
        $('.single-item').slick();
      });    //もったい無い
    script.
      // スクロールしたらじわっとフッター表示
      $(function() {
        var topBtn = $('#footerFloatingMenu');
        topBtn.hide();
        $(window).scroll(function() {
          // 200pxで表示
          if ($(this).scrollTop() > 200) {
            topBtn.fadeIn();
          } else {
            topBtn.fadeOut();
          }
        });
        var topBtnSP = $('.right_bnr_sp');
        topBtnSP.hide();
        $(window).scroll(function() {
          // 200pxで表示
          if ($(this).scrollTop() < 200) {
            topBtnSP.fadeIn();
          } else {
            topBtnSP.fadeOut();
          }
        });
      });
    // User Insight PCDF Code Start : shopjapan.co.jp 
    script(type='text/javascript').
     var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 50185; _uih['lg_id'] = ''; _uih['fb_id'] = ''; _uih['tw_id'] = ''; _uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = ''; _uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';
      /* DO NOT ALTER BELOW THIS LINE */
      /* WITH FIRST PARTY COOKIE */
      (function() {
      var bi = document.createElement('scri'+'pt');bi.type = 'text/javascript'; bi.async = true; bi.src = ('https:' == document.location.protocol ? 'https://bs' : 'http://c') + '.nakanohito.jp/b3/bi.js'; var s = document.getElementsByTagName('scri'+'pt')[0];s.parentNode.insertBefore(bi, s); })();
          // User Insight PCDF Code End : shopjapan.co.jp 


    // for browse-sync 以下はさくじょしてもOK 
    script#__bs_script__.
        //<![CDATA[
          document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\\/script>".replace("HOST", location.hostname));
          //]]>    //モーダル

    #target
    //モーダル