include ./_mixins.pug
include ./_item_images.pug
doctype html
html
  head
    meta(charset='euc-jp')
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    //- meta(name='viewport', content='width=749,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    title MAX60%OFF！｜ショップジャパン楽天市場店
    // 楽天TOP解析タグ 
    script(src='//assets.adobedtm.com/fde17e0362c40547334f4e041add368f158b4119/satelliteLib-e346cd8edc0ac640d3ce7c060b5a38f5169d4add.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js')

    script(src="//www.appelsiini.net/projects/lazyload/jquery.lazyload.js?v=3")

    //- script(src='https://www.rakuten.ne.jp/gold/shopjapan/trs/iframe/matome/semantic.min.js' , charset='UTF-8')
    script(src='js/semantic.js' , charset='UTF-8')

    //- script(src='js/smoothscroll.js')

    //- link(rel='stylesheet', href='css/semantic.min.css' , charset='UTF-8')
    link(rel='stylesheet', href='css/semantic.css' , charset='UTF-8')

    //- link(rel='stylesheet', href='https://www.rakuten.ne.jp/gold/shopjapan/css/normalize.css')
    //-  CSSファイル1つに統合
    //- link(rel='stylesheet', href='css/common1.css')
    //- link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsiveEucjp.css')

    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/lightbox.css')
    link(rel='SHORTCUT ICON', href='https://www.rakuten.ne.jp/gold/shopjapan/images/favicon.ico')

    //- Required
    //- - var pageTitle= "";
    //- - var pageDescription= site.description;
    //- - var pageKeywords= site.keywords;
    //- //- Optional
    //- - var pageOgpTitle= "";
    //- - var pageOgpImage= site.ogpImage
    //- - var pageLang= "ja";
    //- - var pageOgpType= "website";
    //- //- Not modified
    //- - var pageUrl= site.relativePath;



  body
    .ui.divided.items.container.segment#forceWidth
      //- p #{site.itemImagesJson.trsp2}
      //- p #{site.itemImagesJson}

      //- span #{site.description}
      - var image1 = site.trsp2;
      - var siteAr = site;
      //- ul
      //-   each i in site.itemImages.trsp2
      //-     li: p # !{i}
      script.
        //- $('.items .image img')
        //-   .visibility({
        //-     type       : 'image',
        //-     transition : 'fade in',
        //-     duration   : 1000
        //-   });
        //- $(function() {
        //-     $("img").lazyload();
        //- });
        $(function() {
            $('img').lazyload({
                effect : 'fadeIn',
                //- threshold : 200, //before scroll 200px  
                effect_speed: 2000
            });
        });
      style.
        code.code{
          overflow-x:'auto';
          white-space:'pre';
          font-family: Consolas, "Courier New", Courier, Monaco, monospace;
          font-size: 14px;
          line-height: 1.2;          
        }
        em {
          background-color: pink;
        }

      script(src='//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
      pre
       code.prettyprint.code
        //- | - 以下のような楽天Cabinetの画像のサムネリンクを生成
        //- |   'http://thumbnail.image.rakuten.co.jp/@0_mall/shopjapan/cabinet/trsp2/111020_trsp_kago.jpg?_ex=200x200'
        //- | - share/used/awfm と指定するとそれにマッチしたURLの画像リストを作成
        //- | - 200、300，400 で3種類のサイズを指定
        //- | - _data フォルダへRCabinetからダウンロードしたCSVファイルを放り込む、複数ファイルでもOK
        //- |  するとすべてのCSVが結合して、all.csv ができ Gulp取り込み用のall.json ができる
        //- | 
        | Pugの一行でスライダーの画像をR-Cabinet CSVより検索、スライダー2種類を生成 
        |  +cabinetImage(itemName, cabinetPath , 'slider' ,400)
        |  指定例)        nice      share/outlet  <em>rollover</em>  サムネサイズ
        |                                                  (original で元画像を使用)
      .to_top(style='margin-bottom:10px')
        a(href='#slider') slider とサムネロールオーバー　
        //- a(href='#usedAll') used all
        a(href='#outletAll')  アウトレット share/outlet/以下の画像をすべて表示　
        
      link(rel='stylesheet', href='css/frame.css')

      //- 1st item
      //- img.ui.fluid.image.bgRed.spNone(src='img/kv1_1026.png')
      //- img.ui.fluid.image.bgRed.pcNone(src='img/sp/kvsp1_1026.jpg')
      //- - var itemName = 'nice';
      //- - var cabinetPath = 'share/outlet/nice_sub'
      //- img#spTitleImg1.ui.fluid.image(src='img/'+ itemName +'_title.png')
      //- #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
      //-   +cabinetImage(itemName, cabinetPath , 'slider' ,400)
      //- //- div.topMarginPConly(style="position: relative;margin-top:220px;").spNone
      //- .item
      //-   #rollover(style='position:relative;margin-bottom:190px;').spNone
      //-     +cabinetImage(itemName, cabinetPath , 'rollover' ,400)
      //-   .content
      //-     img.ui.fluid.image(src='img/nice_pri.jpg')
      //-     .description
      //-       // 1つめ分 
      //-       +item
      //-         +pad('　レッドを', '10003922_8864_2_5980')
      //-         .ui.section.divider
      //-         +pad('ブラックを','10003922_8865_2_5980','')
      //-       // 1つめ分完了 
      //-     .extra
      //-       +specBtn('modal-'+ itemName)
      //- 1st item


      a#slider
        h2 400x400pxのサムネリンクを生成、スライダーに埋め込む
        p (ウィンドウ幅を狭めるとスライダーに切り替え表示されます)
        a(href='#') ページのTOPへ
      - var itemName    = 'ngw';
      - var cabinetPath = 'ngw/other'
      h3 #{cabinetPath} と指定すると
      //- - var cabinetType = 'rollover' // rollover or slider
      #rollover(style='position:relative;margin-bottom:190px;').spNone
        +cabinetImage(itemName, cabinetPath , 'rollover' ,385)
      #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
        +cabinetImage(itemName, cabinetPath , 'slider' ,385)

      hr

      - var itemName    = 'hdi';
      - var cabinetPath = 'outlet/hdi'
      h3 #{cabinetPath} と指定すると
      #rollover(style='position:relative;margin-bottom:190px;').spNone
        +cabinetImage(itemName, cabinetPath , 'rollover' ,400)
      #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
        +cabinetImage(itemName, cabinetPath , 'slider' ,400)
      hr

      - var itemName    = 'abc';
      - var cabinetPath = 'share/outlet/abc_sub'
      h3 #{cabinetPath} と指定すると
      #rollover(style='position:relative;margin-bottom:190px;').spNone
        +cabinetImage(itemName, cabinetPath , 'rollover' ,400)
      #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
        +cabinetImage(itemName, cabinetPath , 'slider' ,400)
      hr


      - var itemName    = 'awfm';
      - var cabinetPath = 'share/outlet/awfm_sub'
      h3 #{cabinetPath} と指定すると
      #rollover(style='position:relative;margin-bottom:190px;').spNone
        +cabinetImage(itemName, cabinetPath , 'rollover' ,400)
      #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
        +cabinetImage(itemName, cabinetPath , 'slider' ,400)

      - var itemName    = 'lgmcs';
      - var cabinetPath = 'share/outlet/lgmcs_sub'
      h3 #{cabinetPath} と指定すると
      #rollover(style='position:relative;margin-bottom:190px;').spNone
        +cabinetImage(itemName, cabinetPath , 'rollover' ,400)
      #topMarginPConly(style="position: relative;margin-top:190px;").pcNone
        +cabinetImage(itemName, cabinetPath , 'slider' ,400)


      //- - var cabinetPath = 'outlet'
      //- +cabinetImage(itemName, cabinetPath , '' ,400)


      //- h2 200x200px
      //- +cabinetImage('share/used/awfm',200)
      //- h2 300x300px
      //- +cabinetImage('share/used/awfm',300)
      //- h2 400x400px
      //- +cabinetImage('share/used/awfm',400)
      //- h2 Original size
      //- +cabinetImage('share/used/awfm','original')
      //- a#usedAll
      //- h2 200x200px share/used
      //- +cabinetImage('share/used/',200)
      a#outletAll
        h3 上位のフォルダに有る画像を一気に表示
        a(href='#') ページのTOPへ
      - var itemName    = 'outletAll';
      - var cabinetPath = 'share/outlet'
      h3 #{cabinetPath} と指定して それ以下のフォルダに有る画像を一気に表示
      +cabinetImage(itemName, 'awfm' , '' ,200)
      +cabinetImage(itemName, cabinetPath , '' ,200)

      script.
        var siteAR = '#{site}';
        console.log(JSON.stringify(siteAR));

      .to_top(style='margin-bottom:170px')
        a#pageTop(href='') このページのTOPへ

    script(type='text/javascript', src='js/rcart.js', charset='SHIFT-JIS')
    script(src='js/lightbox.js', type='text/javascript')
    script(src='js/slick.min.js')
    script.
      $(function() {
        $('.single-item').slick();
      });    //もったい無い


    // for browse-sync 以下はさくじょしてもOK 
    script#__bs_script__.
        //<![CDATA[
          document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\\/script>".replace("HOST", location.hostname));
          //]]>